* {
  background-color: grey;
  background-image: url('../src/images/background.png');
}

p {
  margin: 0%;
  padding: 0%;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

.solarCss {
  box-sizing: border-box;
  display: flex;
}

.App {
  text-align: center;
}

.missionsMain {
  display: flex;
  flex-wrap: wrap;
}

.missionCss {
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: center;
  margin: 1%;
  width: 240px;
}

.planetCss {
  color: white;
}
